# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Editor settings
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Build outputs
dist/
build/

# Docker
docker-compose.override.yml

# MongoDB Data
/mongo_data/

# React specific
client/node_modules/
client/build/

# Server specific
server/node_modules/
server/dist/
server/build/
